form{
    border: 3px solid black;  
    border-radius: 1em;
    
    
}

input
{
    display: inline-block;
    border: 1px solid ;
    padding: 12px 20px;
    margin: 8px 0 ;
    width: 100%;
    box-sizing: border-box;
}

.Container
{
    padding: 16px;
}

button
{
    background-color:#04AA6D;
    border: none;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    cursor: pointer;

}

button:hover
{
    opacity: 0.8px;
}